* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'NanumSquare', Arial, Times, sans-serif;
}

body {
	background-color: #fff;
	overflow-x: hidden;
}

ol, ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: #000;
}

a:hover {
	font-weight: 800;
}

img {
	vertical-align: top;
}

button {
	outline: none;
	border: none;
	background: transparent;
}

input, textarea {
	outline: none;
	border: none;
}

.flex_between {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.flex_start {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.flex_end {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
}

.flex_center {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}






:root {
	--main--color: rgb(39, 193, 239);
	/*--main--color:  rgb(0, 89, 73);*/

	--percentage: 0;
	--fill: #ff0;
}

.section {
	width: 100vw;
	height: 100vh;
	background-color: rgb(247, 247, 247);

	text-align: center;
	line-height: 24px;

	padding: 120px 0;
	margin: 20px 0;
}

#mainWrap, #portfolio {
	margin: 0;
}

h2 {
	font-size: 38px;
	line-height: 48px;
}

h3 {
	font-size: 22px;
	color: #555;
}

h4 {
	font-size: 20px;
	font-weight: 700;
}

span {
	font-size: 16px;
	color: #333;
}

.circle_imgWrap {
	width: 100px;
	height: 100px;
	background-color: var(--main--color);
	border-radius: 50%;
	margin: 0 auto;
	margin-bottom: 20px;
}






#gnb {
	position: fixed;
	width: 100%;
	min-width: 600px;
	height: auto;
	background-color: #fff;

	box-shadow: 0px 1px 11px 0px rgba(0,0,0,0.07);
	-webkit-box-shadow: 0px 1px 11px 0px rgba(0,0,0,0.07);
	-moz-box-shadow: 0px 1px 11px 0px rgba(0,0,0,0.07);

	text-align: center;
	padding: 20px 50px 10px;

	z-index: 999;
}

#gnb .gnb_menu li {
	font-size: 15px;
}

/*#gnb .gnb_menu li:after {
	display: inline-block;
	content: '';
	width: 389px;
	height: 1px;
	background-color: #e5e5e5;
	margin: 0 8px;
	vertical-align: 3px;
}

#gnb .gnb_menu li:last-child:after {
	content: none;
}*/

#gnb .gnb_menu .gnb_disc {
	display: block;
	width: 10px;
	height: 10px;
	background-color: var(--main--color);
	border-radius: 50%;
	margin: 0 auto;
	margin-bottom: 10px;
}

/*#gnb ul li::marker {
	font-size: 40px;
	color: var(--main--color);
	list-style-position: outside;
}*/

#gnb .gnb_menu .gnb_hr {
	position: relative;
	width: 20%;
	height: 1px;
	background-color: #e5e5e5;
	top: -20px;
}

#gnb .gnb_menu li a {
	display: inline-block;
	height: 50px;
	color: #000;
	font-weight: 800;
}




#mainWrap {
	background-color: #fff;
	padding-top: 150px;
}





#about img {
	width: 100px;
	height: 100px;
}

#about ul {
	margin: 0 150px;
}

#about ul li {
	width: 400px;
}

#about h2,
#about h4 {
	margin-bottom: 20px;
}

#about h3 {
	margin-bottom: 90px;
}




#skill {

}

.semi-donut {
	position: relative;

	display: flex;
	align-items: flex-end;
	justify-content: center;

	width: 200px;
	height: 100px;
	  
	color: var(--fill);
	font-size: 20px;
	font-weight: 800;

	overflow: hidden;
	margin: 25px;
}

.semi-donut:after {
	position: absolute;
	content: '';
	width: 200px;
	height: 200px;
	border: 30px solid;
	border-color : rgba(0,0,0,0.15) rgba(0,0,0,0.15) var(--fill) var(--fill);
	border-radius: 50%;

	left: 0;
	top: 0;
	box-sizing : border-box;
	transform: rotate( calc( 1deg * ( -45 + var(--percentage) * 1.8 ) ) );
	/*animation : fillAnimation 1s ease-in;*/

}

.semi-donut.html {
	--percentage: 80;
	--fill: var(--main--color);
}

.semi-donut.css {
	--percentage: 80;
	--fill: var(--main--color);
}

.semi-donut.java {
	--percentage: 80;
	--fill: var(--main--color);
}

.semi-donut.ps {
	--percentage: 90;
	--fill: #555;
}

.semi-donut.ill {
	--percentage: 90;
	--fill: #555;
}

.semi-donut.ind {
	--percentage: 90;
	--fill: #555;
}





#portfolio h3 {
	margin-bottom: 40px;
}

.contentsWrap {
	width: 70%;
	margin: 0 auto;
}

.contentsWrap ul {
	align-items: flex-start;
	text-align: left;
}

.contentsWrap ul .editorial {
	margin-top: 100px;
	text-align: center;
}

.contentsWrap img {
	position: relative;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin-bottom: 30px;

	top: 0;
	transition: top linear 0.2s;
	z-index: 1;
}

.contentsWrap img:hover {
	top: -10px;
}

.contentsWrap li button {
	position: relative;
	width: 100px;
	height: 100px;
	background-color: rgba(0, 0, 0, .8);

	border-radius: 50%;
	cursor: pointer;
	margin-bottom: 20px;

	top: 0;
	transition: top linear 0.2s;
	z-index: 1;
}

.contentsWrap li button:hover {
	top: -10px;
}

.contentsWrap li button a {
	display: block;
	width: 100%;
	height: 100%;

	font-size: 30px;
	color: #fff;
	line-height: 100px;
}

.contentsWrap li button a:hover {
	font-weight: 800;
	color: var(--main--color);
}


.txtWrap h4 {
	display: inline-block;
}

.txtWrap h4:after {
	display: inline-block;
	content: '';
	width: 1px;
	height: 15px;
	background-color: var(--main--color);
	margin: 0 4px 0 9px;
	vertical-align: -1px;
}

.txtWrap.etc h4:after {
	content: none;
}

.txtWrap span {
	color: #555;
}

.span_block {
	display: block;
	margin-bottom: 15px;
}

.txtWrap ul li {
	width: 250px;
	list-style: disc;
	list-style-position: inside;
}

.txtWrap ul li::marker {
	color: var(--main--color);
}










footer {
	width: 100%;
	height: auto;
	text-align: center;
}

#footer {
	width: 70%;
	margin: 0 auto;
	padding: 50px 0;
}

#footer img {
	width: 50px;
	height: 50px;
	margin: 0 5px 20px 5px;
	border-radius: 50%;
}
